<div id="messages">
    <% @post.messages.each do |message| %>
      <%= render 'messages/show', message: message %>
  <% end %>
</div>


    <% @post.messages.each do |message| %>
  <span class="time_created" data-created="<%=message.created_at%>"></span>
  <span class="message_content" data-content="<%=message.message_content%>"></span>
  <% end %>

<%= render 'messages/form', post: @post, message: @message %>

<% if current_user == @post.user %>
<%=simple_form_for (@post) do |f| %>
<div class="form-inputs">
  <%= f.hidden_field :completed, value: false%>
</div>
<div class="form-actions">
    <%= f.button :submit,  class: "btn btn-primary"%>
</div>
<% end %>
<% end %>
