<% @messages.each do |message| %>
<p><%= message.message_content %></p>
<p><%= message.user.first_name %></p>
<% end %>

<div id="messages">
    <% @post.messages.each do |message| %>
      <%= render 'messages/show', message: message %>
  <% end %>
</div>

<%= simple_form_for([ @post, @message ], remote: true) do |form| %>
  <%= form.input :message_content, as: :text %>
  <%= form.button :submit %>
<% end %>
