<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-bottom">
  <div class="d-flex w-100">
    <% if user_signed_in? %>
      <div class="nav-item active">
        <%= link_to "Home", "#", class: "nav-link" %>
      </div>
      <div class="nav-item">
        <%= link_to "Messages", "#", class: "nav-link" %>
      </div>
      <div class="nav-item">
        <%= link_to "Post", "#", class: "nav-link" %>
      </div>
      <div class="nav-item">
        <%= link_to "Dashboard", "#", class: "nav-link" %>
      </div>
    <% else %>
      <div class="nav-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
      </div>
    <% end %>
  </div>
</div>
