<%= render partial: 'shared/header', locals: {:title => "#{@user.first_name}'s Chats", :myclass => "sub-title"} %>
<div class="container mt-2 mb-5">
<% @posts.each do |id| %>
  <% post = Post.find(id) %>
  <%= link_to post_messages_path(post) do %>
    <div class="notification chats">
      <img src= <%= "https://source.unsplash.com/100x100/?#{post.user.first_name}" %>, class="avatar-large" />
      <div class="notification-content">
        <p id= 'chat-users'><%= post.store_name %>: <%= post.user.first_name %></p>
        <p><small id= 'chat-content' ><%= post.messages.last.user.first_name %>: <%= post.messages.last.message_content.truncate(70, separator: ' ') %></small></p>
      </div>
    </div>
  <% end %>
<% end %>
</div>
