<body id="profile-back">
  <div class="d-flex align-items-center justify-content-center mt-5">
    <img src=<%=current_user.avatar %>, class="avatar-dash" />
    <div>
      <h2 class="mx-4 text-white" style="
      font-family: Pompiere, cursive;
      font-size: 25px;">
      <strong>
          <%= current_user.first_name %>
          <%= current_user.last_name %>
      </strong></h2>
      <h2 class="icon-profile mx-4 justify-content-center">
        <a href="#"><i class="fab fa-instagram "></i></a>
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
      </h2>
    </div>
  </div>
  <div class="profile-sec">
    <div class="wrapper-dash">
      <nav class="tabs justify-content-center">
        <div class="selector" style="width: 89px; left: 70px;"></div>
        <a href="#" class="active">Ongoing</a>
        <a href="#">History</a>
        <a href="#">Favourites</a>
      </nav>
    </div>
  </div>
  <div class="profile-third">
    <!--history: deals expired and deals joined before -->
    <div class="history hidden">
      <h2 class="mx-1 text-center mt-2">Ended Deals</h2>
      <% @all_expired.each do |post| %>
      <% if post.completed == true %>
      <div class="notification">
        <div class="notification-content">
          <%= link_to post_path(post) do %>
          <p><small>Completed</small></p>
          <p>
            <%= post.store_name%>
          </p>
          <p>
            <%= post.discount%>
          </p>
          <% end %>
        </div>
      </div>
      <% elsif post.completed == false %>
      <div class="notification">
        <div class="notification-content">
          <%= link_to post_path(post) do %>
          <p><small>Expired</small></p>
          <p>
            <%= post.store_name%>
          </p>
          <p>
            <%= post.discount%>
          </p>
          <% end %>
        </div>
      </div>
      <% end %>
      <% end %>
    </div>
    <!--favourite: current user favourite posts -->
    <div class="favourites hidden">
      <h2 class="mx-1 text-center mt-2">Favourites</h2>
      <% current_user.favourites.each do |favourite| %>
      <div class="notification">
        <div class="notification-content">
          <%= link_to deal_path(favourite.deal) do %>
          <p>
            <%= favourite.deal.title%>
          </p>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <!-- Deals active and deals joined -->
    <div class="ongoing">
      <!-- ONGOING POSTS -->
      <h2 class="mx-1 text-center mt-2">You Posted</h2>
      <% @ongoing_posts.each do |post| %>
      <div class="selected">
        <div class="notification head mb-2">
          <div class="notification-content">
            <div class="d-flex justify-content-between mb-1">
              <div class="d-flex align-items-baseline">
              <i class="far fa-clock pr-1"></i>
              <p class="timer" style="color: #F86F66;">
                  <span class="end_time_data" data-time="<%=post.end_time%>"></span>
                  <span class="hours"></span>:
                  <span class="minutes"></span>:
                  <span class="seconds"></span>
                </p>
              </div>
              <%= image_tag 'grid.svg', class: "dash-icon" %>
            </div>
            <div class="mt-2">
              <%= link_to post_path(post) do %>
              <p>
                <%= post.store_name %>
              </p>
              <p>
                <%= post.discount %>
              </p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="notification tail hidden mb-2">
          <div class="second-icon">
            <i class="far fa-times-circle" onClick=""></i>
          </div>
          <div class="notification-actions profile-notif">
            <%= link_to edit_post_path(post) do %>
            Edit <i class="fas fa-pencil-alt"></i>
            <% end %>
            <%= link_to  post_path(post), method: :delete do %>
            Delete <i class="far fa-trash-alt"></i>
            <% end %>
            <%=simple_form_for (post) do |f| %>
            <div class="form-inputs">
              <%= f.hidden_field :status, value: false %>
              <%= f.hidden_field :notify, value: false %>
            </div>
            <%= button_tag type: "Completed!", class: "profile-btn" do %>Completed <i class="far fa-check-square"></i>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
      <!-- ONGOING TRANSACTIONS -->
      <h2 class="mx-1 text-center mt-2">You Joined</h2>
      <% @ongoing_transactions.each do |transaction| %>
      <div class="selected">
        <div class="notification head mb-2">
          <div class="notification-content mt-1">
            <div class="d-flex justify-content-between mb-1">
              <div class="d-flex align-items-baseline">
              <i class="far fa-clock pr-1"></i>
              <p class="timer" style="color: #F86F66;">
                  <span class="end_time_data" data-time="<%=transaction.end_time%>"></span>
                  <span class="hours"></span>:
                  <span class="minutes"></span>:
                  <span class="seconds"></span>
                </p>
              </div>
              <%= image_tag 'grid.svg', class: "dash-icon" %>
            </div>
            <div class="mt-2">
              <%= link_to post_path(transaction) do %>
              <p>
                <%= transaction.store_name %>
              </p>
              <p>
                <%= transaction.discount %>
              </p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="notification tail hidden mb-2">
          <div class="second-icon">
            <i class="far fa-times-circle" onClick=""></i>
          </div>
          <div class="notification-actions profile-notif">
            <%= link_to edit_transaction_path(@user.transactions.find_by(post: transaction)) do %>
            Edit <i class="fas fa-pencil-alt"></i>
            <% end %>
            <%= link_to transaction_path(@user.transactions.find_by(post: transaction)), method: :delete do %>
            Delete <i class="far fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</body>
