<%= render partial: 'shared/header', locals: {:title => "#{@user.first_name}'s Dashboard", :myclass => "sub-title"} %>
<%= link_to "Log out", destroy_user_session_path, method: :delete %>


<div class="wrapper-dash">
  <nav class="tabs justify-content-center">
    <div class="selector"></div>
    <a href="#" class="active">Ongoing</a>
    <a href="#">History</a>
    <a href="#">Favourites</a>
  </nav>
</div>


<!-- Deals active and deals joined -->
<div class="ongoing">
<!-- ONGOING POSTS -->
<h2 class="mx-1">You posted:</h2>
<% @ongoing_posts.each do |post| %>
  <div class="notification">
    <div class="notification-content">
      <%= link_to post_path(post) do %>
        <p class="timer"><small>
          <span class="end_time_data" data-time="<%=post.end_time%>"></span>
          <span class="hours"></span>:
          <span class="minutes"></span>:
          <span class="seconds"></span>
        </small></p>
        <p><%= post.store_name %></p>
        <p><%= post.discount %></p>
        <% end %>
    </div>
    <div class="notification-actions">
      <%= link_to edit_post_path(post) do %>
        Edit <i class="fas fa-pencil-alt"></i>
      <% end %>
      <%= link_to  post_path(post), method: :delete do %>
        Delete <i class="far fa-trash-alt"></i>
      <% end %>
    </div>
  </div>
<% end %>

<!-- ONGOING TRANSACTIONS -->
<h2 class="mx-1">You joined:</h2>
<% @ongoing_transactions.each do |transaction_post| %>
  <div class="notification">
    <div class="notification-content">
      <p class="timer"><small>
        <span class="end_time_data" data-time="<%=transaction_post.end_time%>"></span>
        <span class="hours"></span>:
        <span class="minutes"></span>:
        <span class="seconds"></span>
      </small></p>
      <%= link_to post_path(transaction_post) do %>
        <p><%= transaction_post.store_name %></p>
        <p><%= transaction_post.discount %></p>
      <% end %>
    </div>
    <div class="notification-actions">
    <%= link_to edit_transaction_path(@user.transactions.where(post: transaction_post)) do %>
      Edit <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to transaction_path(@user.transactions.where(post: transaction_post)), method: :delete do %>
        Delete <i class="far fa-trash-alt"></i>
    <% end %>
    </div>
  </div>
<% end %>
</div>

<!--history: deals expired and deals joined before -->
<div class="history hidden">
<h2 class="mx-1">Ended Deals</h2>
<% @all_expired.each do |post| %>
  <% if post.completed == true %>
    <div class="notification">
      <div class="notification-content">
        <%= link_to post_path(post) do %>
          <p><small>Completed</small></p>
          <p><%= post.store_name%></p>
          <p><%= post.discount%> </p>
        <% end %>
      </div>
    </div>
  <% elsif post.completed == false %>
    <div class="notification">
      <div class="notification-content">
        <%= link_to post_path(post) do %>
          <p><small>Expired</small></p>
          <p><%= post.store_name%></p>
          <p><%= post.discount%></p>
      <% end %>
      </div>
    </div>
  <% end %>
<% end %>
</div>

<!--favourite: current user favourite posts -->
<div class="favourites hidden">
<h2 class="mx-1">Favourites</h2>
<% current_user.favourites.each do |favourite| %>
    <div class="notification">
      <div class="notification-content">
        <%= link_to deal_path(favourite.deal) do %>
          <p><%= favourite.deal.title%></p>
        <% end %>
      </div>
    </div>
<% end %>
</div>
</div>

