<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="query" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
<div class="container">
<% end %>
  <div class="row">
    <div class="col">
    <% if @posts.empty? %>
    <h2>No posts found</h2>
    <% else %>
      <% @posts.each do |post| %>
      <p><%= post.store_name%></p>
      <p><%= post.discount %></p>
      <% end %>
    <% end %>
    <% if @deals.empty? %>
    <h2>No deals found</h2>
    <% else %>
      <% @deals.each do |deal| %>
      <p><%= deal.title %></p>
      <p><%= deal.description %></p>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
