<%= render partial: 'shared/header', locals: {:title => "Hi, #{current_user.first_name}", :myclass => "main-title" } %>


<%= simple_form_for :search, url: search_path, method: :get do |f| %>
<div class="search-form-control form-group d-flex">
  <input class="form-control string required" type="text" name="query" id="search_query">
  <button name="button" type="submit" class="btn">
    <i class="fas fa-search"></i> Search
  </button>
  <button name="button" type="button" class="btn-location" id="nearby">
    <i class="fas fa-map-marker-alt"></i>
    Near me
  </button>
</div>
<% end %>
<div class="content">
  <h2 class="text-center"><%= @location_greeting %><strong> <u><%= @place %></strong></u></h2>
  <div class="cards">
    <% @post_results.each do |result| %>
  <!-- Card -->
<% if result.status == true && result.total_contribution < result.quota %>
<div class="card mx-2 my-2">
  <!-- Card footer -->
  <small class="lighten-3 text-center py-1 px-2" id="timer">
      <ul class="list-unstyled list-inline font-small mx-3">
        <li class="list-inline-item  white-text">
        <p class="timer">
        <i class="far fa-clock pr-1"></i>
          <span class="end_time_data" data-time="<%=result.end_time%>"></span>
          <span class="hours"></span>:
          <span class="minutes"></span>:
          <span class="seconds"></span>
        </p>
        </li>
      </ul>
    </small>
  <!-- Card content -->
    <%= link_to post_path(result) do %>
      <% if result.photo.present? %>
        <%= cl_image_tag result.photo, class: "index-img"%>
      <% else %>
      <%= image_tag"https://res.cloudinary.com/dtsg1dlrd/image/upload/v1568106458/Photos/#{result.store_name.downcase.delete(' ')}", class: "index-img" %>
      <% end %>
      <svg class="card__svg" viewBox="0 0 800 500">

        <path d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400 L 800 500 L 0 500" stroke="white" fill="white"/>
        <path  d="M 0 100 Q 50 200 100 250 Q 250 400 350 300 C 400 250 550 150 650 300 Q 750 450 800 400" stroke="white" stroke-width="3" fill="transparent"/>
      </svg>


      <div class="card-body">
        <!-- Title -->
      <div class="d-flex justify-content-between">
        <h4 class="card-title"><%= result.store_name %></h4> <!-- Button -->
      </div>
        <hr id="search-break">
        <!-- Text -->
        <p class="card-text"><%= result.discount %></p>
        <p class="card-text">Target:</p>
         <div class="progress">
          <span class="total_contribution" data-contribution="<%=result.total_contribution%>"></span>
          <span class="quota" data-quota="<%=result.quota%>"></span>
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
        </div>
      </div>
    <% end %>
</div>
  <% end %>
  <% end %>
  <!-- Card -->
  </div>
</div>
