<div class="container justify-content-center" id="login-page">
  <div class="text-center">
  <%= image_tag 'logo.png', style:"max-height: 300px; max-width: 200px;" %>
  </div>
  <h2>Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, label: '<i class="far fa-envelope-open"></i>'.html_safe, placeholder:"email", input_html: { class: 'new-input' } %>
      <%= f.input :password, label: '<i class="fas fa-unlock-alt"></i>'.html_safe, placeholder:"password", input_html: { class: 'new-input' } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
