<%= render partial: 'shared/header', locals: {:title => "Share & find splitees", :myclass => "sub-title"} %>
<div class="container">
  <div class="row justify-content-center">
    <div class = "col-lg-6">
      <div class="form-post ongoing">
        <%=simple_form_for (@post) do |f| %>
        <%= f.error_notification %>
        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
        <div class="form-inputs">
          <div class="photo-area mx-4">
          <div class="text-center mt-2" id="photo-upload">
            <%= f.input :photo, as: :file, label: "#{image_tag('camera.svg')}".html_safe , input_html: { id: 'files', class: 'hidden'} %>
          </div>
          <p class="text-center">upload a photo</p>
          </div>
            <%= f.input :photo_cache, as: :hidden %>
            <img class="w-100 h-50" id="image" />
            <%= f.input :discount, label: '<i class="fas fa-volume-up"></i> Share your discount'.html_safe, placeholder:"e.g $120 to get 20\% off", input_html: { class: 'new-input' } %>
            <%= f.input :store_name, label: '<i class="fas fa-store"></i> Store'.html_safe, placeholder: "e.g Isetan/Sephora", input_html: { class: 'new-input' }%>
            <%= f.input :address, label: '<i class="fas fa-location-arrow"></i> Location'.html_safe, placeholder: "Orchard Ion", input_html: { class: 'new-input' }%>
            <%= f.association :category, collection: Category.all, value_method: :id, as: :radio_buttons, label: '<i class="fas fa-boxes"></i> Category'.html_safe,input_html: { class: 'new-input' }, wrapper: :vertical_collection_inline %>
            <div class="d-flex">
              <%= f.input :quota, label: '<i class="fas fa-money-bill-wave"></i> Target to raise'.html_safe, placeholder:"Total you need",  wrapper_html: { class: "flex-grow-1" }, input_html: { class: 'new-input' } %>
              <%= f.input :units, :collection => %w[Dollars \ Pieces \ People], label: "Units", wrapper_html: { class: "ml-3" }, input_html: { class: 'new-input' } %>
            </div>
            <%= f.input :starting_contribution, label: '<i class="fas fa-shopping-basket"></i> Amount you are contributing?'.html_safe, placeholder: "Type in a number only", input_html: { class: 'new-input' } %>
            <%= f.hidden_field :start_time, value: Time.now %>
            <%= f.input :end_time,as: :string, label: '<i class="far fa-clock"></i> End time of your post?'.html_safe,wrapper_html: { class: "inline_field_wrapper" }, input_html: { class: 'new-input' } %>
            <%= f.input :details, as: :text, label: '<i class="fas fa-pencil-alt"></i> Additional details'.html_safe, placeholder: "Perhaps we can exchange some beauty tips too!", input_html: { class: 'new-input' } %>
        </div>

        <div class="form-actions">
            <%= f.button :submit, 'Share now', class: "btn btn-primary"%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

