<p>Store Name:
  <%= @post.store_name %>
</p>
<p>Total_contribution
  <%= @post.total_contribution %>
</p>
<p class="timer">
  <span class="end_time_data" data-time="<%=@post.end_time%>"></span>
  <span class="hours"></span>:
  <span class="minutes"></span>:
  <span class="seconds"></span>
</p>
<p>
  <%= link_to 'Back', posts_path %>
</p>
<p>
  <%= link_to 'Destroy', post_path, method: :delete, data: { confirm: "Are you sure you want to delete your post?"} %>
</p>
<div class="progress">
  <span class="total_contribution" data-contribution="<%=@post.total_contribution%>"></span>
  <span class="quota" data-quota="<%=@post.quota%>"></span>
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
</div>
<p>
  <%= link_to 'Message', post_messages_path(@post) %>
</p>
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <% if current_user != @post.user %>
        <% if @post.users.include?(current_user) %>
        <p>
          <%= render 'transactions/edit', post: @post, transaction: @transaction%>
        </p>
        <% else %>
        <p>
          <%= render 'transactions/new', post: @post, transaction: @transaction%>
        </p>
        <% end %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
