<canvas id="my-canvas"></canvas>
<div class="pyro">
  <div class="before"></div>
  <div class="after"></div>
</div>
<div id="celebration-message">Congrats on completing your deal!</div>

<div id="background-wrap">
    <div class="bubble x1"></div>
    <div class="bubble x2"></div>
    <div class="bubble x3"></div>
    <div class="bubble x4"></div>
    <div class="bubble x5"></div>
    <div class="bubble x6"></div>
    <div class="bubble x7"></div>
    <div class="bubble x8"></div>
    <div class="bubble x9"></div>
    <div class="bubble x10"></div>
</div>

<body id="post-show">
  <div>
 <% if @post.photo.present? %>
        <%= cl_image_tag @post.photo, class: "post-img"%>
      <% else %>
      <%= image_tag"https://res.cloudinary.com/dtsg1dlrd/image/upload/v1568106458/Photos/#{@post.store_name.downcase.delete(' ')}", class: "post-img" %>
      <% end %>
  </div>

<div class="post-container">
<div class="post-header mt-3 px-3">
  <div>
    <p class="post-heading mx-2">
      <%= @post.store_name %>@<%= @post.address %>
    </p>
  </div>
</div>

<div class="sub-content px-3 pt-3">
  <!--progress bar -->
    <p class="progress-bar-details mx-1">
      <%=  (@post.quota - @post.total_contribution) %> more <%= @post.units.downcase %> to go!</p>
    </p>
  <div class="progress mb-3 mx-1">
    <span class="total_contribution" data-contribution="<%=@post.total_contribution%>"></span>
    <span class="quota" data-quota="<%=@post.quota%>"></span>
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: <%= "#{@post.total_contribution/@post.quota}%"  %>"></div>
  </div>
  <!--details -->
  <div class="post-details">
    <p>Target:
      <%= @post.quota %> <%=@post.units.downcase %></p>
    <p><%= @post.discount %></p>
    <p>Posted by: <%= @post.user.first_name %></p>
  </div>
  <!--timer -->
  <div class="post-timer">
  <% if @post.status == false && @post.completed == true %>
    <p>COMPLETED</p>
  <% elsif @post.status == false && @post.completed == false %>
    <p>EXPIRED</p>
  <% else %>
    <div>
      <div class="d-flex justify-content-center">
        <i class="far fa-clock px-1 py-1"></i>
        <h2>Ending in</h2>
      </div>
      <p class="timer timer-post">
        <span class="end_time_data" data-time="<%=@post.end_time%>"></span>
        <span class="hours"></span>:
        <span class="minutes"></span>:
        <span class="seconds"></span>
      </p>
    </div>
  <% end %>
  </div>
  <!--transaction -->
  <% if current_user != @post.user %>
  <button type="button" class="post-btn btn btn-lg ching" data-toggle="modal" data-target="#myModal">Join Now!</button>
  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h2>Ready to join?</h2>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <% if @post.users.include?(current_user) %>
          <p>
            <%= render 'transactions/edit', post: @post, transaction: @transaction%>
          </p>
          <% else %>
          <p>
            <%= render 'transactions/new', post: @post, transaction: @transaction%>
          </p>
            <% end %>
          <% elsif @post.user == current_user && @post.notify == true %>
            <%=simple_form_for (@post) do |f| %>
              <div class="form-inputs">
                <%= f.hidden_field :status, value: false %>
                <%= f.hidden_field :notify, value: false %>
              </div>
              <div class="form-actions", id="completed">
                  <%= f.button :submit, 'Confirm Completed', class: "post-completed btn-primary"%>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</body>
