<div class='pop-up'>
  <%=simple_form_for(transaction) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs d-flex">
      <%= f.input :contribution, label: 'I am contributing:', hint: 'Type in the amount', input_html: { class: 'new-input' }, wrapper_html: { class: "flex-shrink-1" } %>
      <div class= 'd-flex align-items-center ml-3'><%= @post.units.capitalize() %></div>
  </div>

  <div class="form-actions">
      <%= f.button :submit, 'Update', class: "btn btn-primary"%>
  </div>

  <% end %>
</div>
