<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Split</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
   <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
  <%#= stylesheet_pack_tag 'application', media: 'all' %>
  <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
<link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>

<body>
  <% if  params[:controller] != "devise/sessions" %>
    <%= render 'shared/flashes' %>
  <% end %>
  <%= yield %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
  <% if  params[:controller] != "devise/sessions" %>
    <%= render 'shared/footer' %>
  <% end %>
</body>

</html>
